button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }

iframe {
    border: none;
}

h1 {
    font-size: 1em; /* adjust size as needed */
    font-weight: bold;
    text-align: center;
    color: #333; /* adjust color as needed */
    text-transform: uppercase;
    margin-top: 20px; /* adjust spacing as needed */
    margin-bottom: 20px; /* adjust spacing as needed */
  }
  